*.swp
build
foo
src/learning/results
src/learning-prithayan-bk
results
all_pass_stats.txt
*.pyc
src/debloat_rt/debrt_decision_tree.h
test/*/a.out
test/*/main.bc
test/*/main_mod.bc
test/*/main_mod.s
test/*/nm.out
test/*/readelf.out
test/*/wpd_func_name_to_id.txt
src/gadget-chains/output/*/
src/gadget-chains/input/coreutils/*/
src/gadget-chains/input/spec/*/
src/gadget-chains/input/nginx/*/
src/nginx/performance/size-variation/blankit-stuff
src/nginx/performance/time-variation/blankit-stuff
src/size-increase/worst-case-growth/readelf-*
src/size-increase/worst-case-growth/nm-*
src/size-increase/*-sizes.out
test/04_test/ics.ll
test/04_test/linker.py
test/07_test
.gdb_history
ics.ll
src/learning/static-reachability-files/*.txt
